NODE_ENV=development
TZ=Asia/Bangkok
PORT=3000
LINE_BOT_PORT=3010
E_REPORT_BASE_URL=https://e-report.diw.go.th
E_REPORT_USERNAME=
E_REPORT_PASSWORD=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
GOOGLE_SHEETS_SPREADSHEET_ID=1hc7BlsZ4h9pK-GtJeQNG5yK3o1_TvgktDXWnYljRsU8
GOOGLE_SHEETS_SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1hc7BlsZ4h9pK-GtJeQNG5yK3o1_TvgktDXWnYljRsU8/edit?gid=0#gid=0
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
REQUEST_POLL_INTERVAL_MINUTES=60
RESULT_POLL_INTERVAL_MINUTES=60
RETRY_FAILED_INTERVAL_MINUTES=120
STAFF_NOTIFY_ENABLED=true
CUSTOMER_NOTIFY_ENABLED=true
REQUEST_TRIGGER_STATUSES=1
RESULT_TRIGGER_STATUSES=8
ADMIN_STAFF_GROUP_ID=
